Django==1.8.4
django-autocomplete-light==2.3.3
django-phonenumber-field==1.0.0
phonenumbers==7.2.4
six==1.10.0
python-social-auth==0.2.14
django-celery==3.1.17
kombu==3.0.33
amqp==1.4.9
psycopg2
https://github.com/django-ses/django-ses/archive/master.zip