{% extends "base.html" %}
{% load visite_counts %}

{% block content %}

<div class="form col-sm-offset-2 col-sm-8">

    <center><h4><strong>Referral History</strong></h4></center>
	  <hr><br>
      <form id="form-referral" method="POST" class="form-horizontal" action=".">
      {% csrf_token %}

      {% for field in form.visible_fields %}
               
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">{{field.label}}</label>
          <div class="col-sm-6">
            
            {{ field }}
            
            {{ field.errors }}
            {{ field.help_text }}
          </div>
      </div>

      {% endfor %}


      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary btn-md">submit</button>
          </div>
      </div>

    </form>
      <hr>
</div>
<div class="form col-sm-offset-2 col-sm-8">
  <div class="row">
	<div class="col-sm-12 col-md-12 col-lg-3">
	</div>
	<div class="col-sm-12 col-md-12 col-lg-6">
	  <div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
		  <span style="font-size: 12px;font-weight: bold;color: #333;">
			Date from {{week_ago|date:"Y-m-d"}} to {{today|date:"Y-m-d"}}</p>
		  </span>
		</div>
	  </div>
	  {% for pkey, physician in all_orgs.items %}
	  {% if pkey %}
	  <table class = "table table-bordered">
		<caption style="font-size: 15px;font-weight: bold;color: #333;">
		  Referral History for: {{ physician.name }}
		</caption>
		<thead>
		  <tr>
			<th>Date</th>
			<th>Count</th>
		  </tr>
		</thead>
		<tbody>
		{% for referral in physician.refs %}
		  <tr>
			<td>{{ referral.visit_date|date:"Y-m-d" }}</td>
			<td>{{ referral.visit }}</td>
		  </tr>
		{% endfor %}
		</tbody>
	  </table>
	  {% endif %}
	  {% endfor %}
	</div>
	<div class="col-sm-12 col-md-12 col-lg-3">
	</div>
  </div>
</div>


{% endblock content %}


{% block javascript %}
   
 <script type="text/javascript">
    $( document ).ready(function() {

	  $('#id_from_date').datetimepicker({
		//language:  'fr',
		format: 'yyyy-mm-dd',
		language:  'fr',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	  });
	  
	  $('#id_to_date').datetimepicker({
		//language:  'fr',
		format: 'yyyy-mm-dd',
		language:  'fr',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	  });
	  $("input[type='text']").addClass('form-control')
	  $("#id_physician-wrapper input").css("width", "464px");
	});
        </script>
{% endblock %}
